@import "tailwindcss";

.category.active {
  background-color: #FF0000;
}

.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; 
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}


    @keyframes gradientBorderAnimation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      .bg-animated-gradient-border {
        background: linear-gradient(270deg, #ef2222, #1A202C, #ef4444);
        background-size: 600% 600%;
        animation: gradientBorderAnimation 6s ease infinite;
      }
      
      
    

